<div class="center header-padding">
  <h5> <%= "Welcome " + current_user.first_name  %></h5>
</div>
<% if @checklists.present? %>
  <%= render 'checklists/form' %>
<% else %>
  <p> You don't have any Tasks in the system. Create by clikcing the button below! </p> 
<%end%>
<%= link_to "Create A Task", 'checklists/new', class: "btn btn-primary btn-lg btn-block"%>
<%= render 'layouts/errors' %>
